.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdownContent {
  position: absolute;
  min-width: 160px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid black;
}
.open {
  display: block;
}
.hide {
  display: none;
}
